<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This Project is used to create a Jenkins-Docker image.&#xd;
&#xd;
&quot;Jenkins-Build-Master&quot;&#xd;
&#xd;
It is a Freestyle-Project.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/MarcAtHTW/Jenkins-Build-Master.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>Docker</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>ls
docker info
docker build -t msahib/jenkins-build-master:0.0.${BUILD_NUMBER}_$(date +&apos;%Y-%m-%d&apos;) .
# docker login https://index.docker.io
docker push msahib/jenkins-build-master:0.0.${BUILD_NUMBER}_$(date +&apos;%Y-%m-%d&apos;)
docker rmi msahib/jenkins-build-master:0.0.${BUILD_NUMBER}_$(date +&apos;%Y-%m-%d&apos;)
docker images</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>