<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This Project is used to create a Jenkins-Docker image.&#xd;
&#xd;
&quot;Jenkins-Build-Master&quot;&#xd;
&#xd;
It is a Freestyle-Project.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Docker</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>ls
docker info
docker build -t msahib/jenkins-build-master:0.0.${BUILD_NUMBER}_$(date +&apos;%Y-%m-%d&apos;) .
docker push msahib/jenkins-build-master:0.0.${BUILD_NUMBER}_$(date +&apos;%Y-%m-%d&apos;)
docker tag msahib/jenkins-build-master:0.0.${BUILD_NUMBER}_$(date +&apos;%Y-%m-%d&apos;) 10.1.7.250/library/jenkins-build-master:0.0.${BUILD_NUMBER}_$(date +&apos;%Y-%m-%d&apos;)
docker push 10.1.7.250/library/jenkins-build-master:0.0.${BUILD_NUMBER}_$(date +&apos;%Y-%m-%d&apos;)
docker rmi 10.1.7.250/library/jenkins-build-master:0.0.${BUILD_NUMBER}_$(date +&apos;%Y-%m-%d&apos;)
docker rmi msahib/jenkins-build-master:0.0.${BUILD_NUMBER}_$(date +&apos;%Y-%m-%d&apos;)
docker images</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>